body {
    background-color: rgb(104, 104, 104);
}

button, .display, .header {
    margin: 5px;
}

.extraBtnContainer {
    display: flex;
    flex-direction: row-reverse;
}

.extraBtnContainer button {
    font-size: 48px;
    height: 60px;
}

.header {
    font-size: 72px;
}

.display {
    height: 150px;
    font-size: 120px;
    color: white;
    background-color: black;
}

button {
    width: 115px;
    height: 115px;
    font-size: 48px;
}

.calcBody {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(56, 56, 56);
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.btnContainer {
    display: flex;
}

.sideBtnContainer {
    display: flex;
    flex-direction: column;
}

.mainBtnContainer {
    display: flex;
    flex-flow: wrap-reverse;
}